

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 24px;
}

.header {
  font-weight: 300;
  color: #888;
}

.header-primary {
  border-bottom: 1px solid currentColor;
}

.custom-button {
  margin: 2px 0;
  min-width: 140px;
}

.custom-table {
  width: 100%;
}
