/* apply a natural box layout model to all elements, but allowing components to change */
:global(html) {
    box-sizing: border-box;
}

:global(*),
:global(*:before),
:global(*:after) {
    box-sizing: inherit;
}

:global(.header-primary) {
  font-weight: 300;
  color: #888;
  border-bottom: 1px solid currentColor;
}

:global(.wrapper) {
  width: 80%;
  margin: 0 auto;
}

/* FONTELLO SHOULD BE HERE */
@import "vendor/css/fontello.css";

/*PURE SHOULD BE HERE */
@import "../../node_modules/purecss/build/pure.css";

/*GRID SHOULD BE HERE */
@import "vendor/css/grid.css";
