.btn {
  composes: global(pure-button),
    global(pure-u-1),
    global(pure-u-xs-1-2),
    global(pure-u-md-1-4);

}

.grid-container {
  composes: global(pure-g);
}

.active {
  composes: btn;
  background-color: #FFF99E;
  font-weight: bold;
}

.icon {
  composes: global(icon-plus);
}

.toggle {
  composes: btn, icon;
}


.add-button {
  composes: btn;
  background: lightgreen;
}

.cancel-button {
   composes: btn;
   background-color: #FF4A4D;
 }
